.home_container .option_box {
    border: 1px solid #333;
    padding: 10px;
    margin-top: 20px;
}

.home_container .option_box .option_heading{
    font-size: 14px;
    font-weight: 600;
}

.home_container .option_box .option_lists{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.home_container .option_box .option_lists .opt img{
    width: 35px;
}

.home_container .option_box .option_lists .opt{
    border: 1px solid #333;
    /* min-width: 120px; */
    text-align: center;
    padding: 10px;
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_container .option_box .option_lists .opt .opt_title{
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
}